

//*******INSPIRATION**********//
//******https://www.pinterest.com.au/pin/675751119102116079/******//

// sytles -- 
body,*, *::after, *::before{
    padding: 0px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
}
body {
    background: #F5AA28;
}
@import '_smalldevice';

