doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title rolling wheels
    body 
    .mainAllContainer 
        // --car body
        .sceneMainWrapper
            // car- reference position        
            .carBodyContainerBase
                .carMidMainBody 
                    .upperPart 
                        .window.window1 
                        .window.window2 
                        .window.window3
                        .windowSlider
                        // lines --Upper Body
                        .line.line1 
                        .line.line2
                    .lowerPart
                        // lines --LowerBody 
                        .Llines.lines1
                        .Llines.lines2
                        .Llines.lines3
                        .Llines.lines4
                        .Llines.lines5
                        .Llines.lines6
                        .Llines.lines7  
                        .Vlines.Vline1 
                        .Vlines.Vline2
                        .Vlines.Vline3
                        // splash Guard left and right
                        .Guard.GuardLeft 
                        .Guard.GuardRight  
                        .GuardLeftFix
                        .Bumper.BumperFront 
                        .Bumper.BumperRear 
                        // Back ladder 
                        .ladder  
                            .step.step1 
                            .step.step2 
                            .step.step3 
                        .headlight 
                            .lightMid
                            .dot.dot1
                            .dot.dot2 
                            .dot.dot3 
                            .dot.dot4
                    .topRoof
                    .wheel.wheelLeft 
                        .innerCircle 
                        .innerRadius
                    .wheel.wheelRight
                        .innerCircle 
                        .innerRadius
                .road
                    .roadGap.roadGap1 
                    .roadGap.roadGap2 
                    .roadGap.roadGap3 
                    .roadGap.roadGap4 
                    .roadGap.roadGap5 
                    .roadGap.roadGap6
                    .roadGap.roadGap7 
                    .roadGap.RoadAnimation1
                    .roadGap.RoadAnimation2                           

            .sun
            .cloud.cloud1
                .row.row1
                    .c.c1
                    .c.c2
                .row.row2
                    .c.c3 
                    .c.c4 
                .row.row3
                    .c.c5 
                    .c.c6 
                .row.row4
                    .c.c7 
                    .c.c8
                .row.row5
                    .c.c9 
                    .c.c10
            .cloud.cloud2
                .row.row1
                    .c.c1
                    .c.c2
                .row.row2
                    .c.c3 
                    .c.c4 
                .row.row3
                    .c.c5 
                    .c.c6 
                .row.row4
                    .c.c7 
                    .c.c8
                .row.row5
                    .c.c9 
                    .c.c10